<div class="row">
    <div class="review-rating" data-score="<%= review.rating %>"></div>
    <p><%= review.comment %></p>

    <% if user_signed_in? %>
        <% if review.user_id == current_user.id%>
            <%= link_to "Edit", edit_restaurant_review_path(review.restaurant, review) %>
            &nbsp;
            <%= link_to "Delete", restaurant_review_path(review.restaurant, review), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
    <% end %>
</div>